/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700;800;900&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* Colors */

  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-primary: "Spartan", sans-serif;

  /* Shadows */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--White);
  color: var(--Very-Dark-Magenta);
  font-size: 15px;
  background: url(../images/bg-pattern-top-desktop.svg) no-repeat,
    url(../images/bg-pattern-bottom-desktop.svg) no-repeat bottom 0 right;
}
img:not(.star) {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
/* Main Styles */

.main {
  padding: 4rem 0;
  text-align: center;
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto 6rem auto;
}

.col-1 h1 {
  width: 250px;
  margin: 0 auto 0.75rem auto;
}
.col-1 p {
  line-height: 1.5;
  margin-bottom: 2rem;
  color: var(--Dark-Grayish-Magenta);
}
/* media queries */
@media screen and (min-width: 776px) {
  .top-cols {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }
  .col-1,
  .col-2 {
    flex: 0 0 calc(50%);
  }

  .col-1 h1 {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    font-size: 3rem;
    width: 400px;
    line-height: 1;
  }
  .col-1 p {
    text-align: left;
    width: 450px;
  }
}
.review-card {
  margin-bottom: 0.75rem;

  background-color: var(--Light-Grayish-Magenta);
  padding: 1rem 2rem;
  border-radius: 10px;
}
.review-card:last-child {
  margin-bottom: 2.5rem;
}
.review-card .star {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.4rem;
  margin-bottom: 0.5rem;
}
.review-card p {
  font-weight: 700;
}
/* media queries */
@media screen and (min-width: 776px) {
  .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .review-card {
    display: flex;
    width: 80%;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }
  .review-card:first-child {
    transform: translateX(-20%);
  }
  .review-card:nth-child(2) {
    transform: translateX(-10%);
  }

  .review-card .star {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 0.2rem;
  }
  .review-card p {
    margin-left: 2rem;
  }
}
.testimonial-card {
  background: var(--Very-Dark-Magenta);
  color: var(--Light-Grayish-Magenta);
  padding: 2.2rem 2.2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.profile-section {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
}
.img-container {
  width: 2.8rem;
  margin-right: 1.4rem;
  margin-bottom: 0.5rem;
}
.profile-img {
  border-radius: 50%;
}
.profile-details {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.profile-section h4 {
  line-height: 0;
}
.profile-details p {
  color: var(--Soft-Pink);
}
.review-text p {
  color: var(--Light-Grayish-Magenta);
  text-align: left;
  line-height: 1.5;
  font-size: 0.85rem;
}
@media screen and (min-width: 776px) {
  .bottom-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .testimonial-card {
    flex: 0 0 calc(33.333% - 1rem);
  }
  .testimonial-card:nth-child(2) {
    transform: translateY(10%);
  }
  .testimonial-card:nth-child(3) {
    transform: translateY(20%);
  }
}
